{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- CSSの設定ファイル -->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <title>Corporation Search | なんでもランキング.com</title>
    <style>
        body {
            background: #333333;
            color: white;
            font-family: Arial, sans-serif;
            min-height: 100vh; /* ページの最低高さをビューポートの高さに設定 */
        }

        .search-form {
            margin: 20px;
        }

        .search-input {
            width: 200px;
            padding: 10px;
            font-size: 16px;
            border-radius: 10px;
        }

        .search-button {
            padding: 10px 20px;
            font-size: 16px;
        }

        .search-results {
            margin-top: 20px;
            margin-left: 50px;
        }

        .no-results {
            color: red;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 0 auto;
        }

        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<main class="d-flex">

    {% if user_agent.device.family == 'iPhone' %}
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <!-- 折り畳み可能リストのサイドバー -->
        <div class="hidden-sidebar" id="sidebar">
    {% else %}
        <div class="sidebar">
    {% endif %}

    <div class="flex-shrink-0 p-3" style="width: 280px; margin-bottom: 100px">
        <!-- 左上サービス名 -->
        <p class="d-flex pb-3 mb-3">
            {% if user_agent.device.family == "iPhone" %}
            <span class="fs-5 fw-semibold" style="margin-top: 50px"><strong>なんでもランキング.com</strong></span>
            {% else %}
            <span class="fs-5 fw-semibold"><strong>なんでもランキング.com</strong></span>
            {% endif %}
        </p>
        <!-- 業界ごと検索 -->
        <p class="d-flex pb-3 mb-3 border-top">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                    data-bs-toggle="collapse" data-bs-target="#industry-collapse" aria-expanded="false">
                <span class="fs-5">業界別サーチ</span></button>
        </p>
        <ul class="list-unstyled ps-0 collapse" id="industry-collapse">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#trade-collapse" aria-expanded="false">
                    商社
                </button>
                <div class="collapse" id="trade-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li>
                            <a href='{% url 'corporation' %}?query=三菱商事 三井物産 伊藤忠商事　"住友商事" "丸紅" 豊田通商 双日'
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">総合</a></li>
                        <li><a href="{% url 'corporation' %}?query=日鉄物産 伊藤忠丸紅鉄鋼 "
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">専門</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#consult-collapse" aria-expanded="false">
                    コンサル
                </button>
                <div class="collapse" id="consult-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li>
                            <a href="{% url 'corporation' %}?query=ZSA EYParthenon IGPI (戦略) ADL Roland McKinsey BCG Bain ATK Strategy&"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">戦略</a></li>
                        <li><a href="{% url 'corporation' %}?query=コンサル"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">総合</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">その他</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#finance-collapse" aria-expanded="false">
                    金融
                </button>
                <div class="collapse" id="finance-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li>
                            <a href="{% url 'corporation' %}?query=Capital Goldman Morgan Bankof Citi UBS Deutsche Barclays Fidelity BNP SociétéGénérale CréditAgricole HSBC WellsFargo"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">外銀</a></li>
                        <li>
                            <a href="{% url 'corporation' %}?query=Point72 GSAM JPMORGAN(AM) UBS(AM) Fidelity DWS BlackRock Lazard"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">HF・外資アセマネ</a>
                        </li>
                        <li><a href="{% url 'corporation' %}?query=三菱UFJ銀行 三井住友銀行 みずほFG"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">メガバンク</a></li>
                        <li><a href="{% url 'corporation' %}?query=証券 證券"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">証券</a></li>
                        <li><a href="{% url 'corporation' %}?query=生命 海上日動 損保"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">生損保</a></li>
                        <li><a href="{% url 'corporation' %}?query=カード リース"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">カード・リース</a>
                        </li>
                        <li><a href="{% url 'corporation' %}?query=アセット 投信 信託"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">アセマネ・信託</a>
                        </li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">その他</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#it-collapse" aria-expanded="false">
                    IT
                </button>
                <div class="collapse" id="it-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li><a href="{% url 'corporation' %}?query=総合研究所 総研 リサーチ"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">シンクタンク</a></li>
                        <li><a href='{% url 'corporation' %}?query=NRI "NTTデータ" 電通国際 日鉄ソリュ'
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">SIer</a></li>
                        <li><a href="{% url 'corporation' %}?query=Cisco AWS Google Amazon Microsoft salesforce"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">外資系</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">その他</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#maker-collapse" aria-expanded="false">
                    メーカー
                </button>
                <div class="collapse" id="maker-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">食品</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">電機</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">自動車</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">鉄鋼</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">化学</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">その他</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#hekichi-collapse" aria-expanded="undefined">
                    いずへきち
                </button>
                <div class="collapse" id="hekichi-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li><a href="{% url 'corporation' %}?query=(AE/TE)"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">横浜</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">神戸</a></li>
                        <li><a href="#"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">京都</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#infra-collapse" aria-expanded="undefined">
                    インフラ
                </button>
                <div class="collapse" id="infra-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li><a href="{% url 'corporation' %}?query=電力"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">電力</a></li>
                        <li><a href="{% url 'corporation' %}?query=ガス"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">ガス</a></li>
                        <li><a href="{% url 'corporation' %}?query=JR"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">鉄道</a></li>
                        <li><a href="{% url 'corporation' %}?query=高速 NEXCO"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">高速道路</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#dev-collapse" aria-expanded="undefined">
                    建設・不動産
                </button>
                <div class="collapse" id="dev-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li><a href="{% url 'corporation' %}?query=不動産"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">デベロッパー</a></li>
                        <li><a href="{% url 'corporation' %}?query=建設"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">ゼネコン</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                        data-bs-toggle="collapse" data-bs-target="#media-collapse" aria-expanded="undefined">
                    マスコミ関連
                </button>
                <div class="collapse" id="media-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                        <li><a href='{% url 'corporation' %}?query="電通" "博報堂" ADK 東急エージェンシー 広告社'
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">広告</a></li>
                        <li><a href="{% url 'corporation' %}?query=テレビ NHK"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">テレビ</a></li>
                        <li><a href="{% url 'corporation' %}?query=講談社 集英社 白泉社 小学館 新潮社 扶桑社"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">出版</a></li>
                        <li><a href="{% url 'corporation' %}?query=新聞"
                               class="link-body-emphasis d-inline-flex text-decoration-none rounded">新聞</a></li>
                    </ul>
        </ul>
        <!--  業界ごと検索 END -->

        <!-- 偏差値別検索 -->
        <p class="d-flex pb-3 mb-3 border-top">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                    data-bs-toggle="collapse" data-bs-target="#rank-collapse" aria-expanded="false">
                <span class="fs-5">ランク別サーチ</span></button>
        </p>
        <div class="collapse" id="rank-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                <li><a href='{% url 'corporation' %}?query=79~81'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">スーパーエリート</a></li>
                <li><a href='{% url 'corporation' %}?query=76~78'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">海内トップ大勝ち</a></li>
                <li><a href='{% url 'corporation' %}?query=70~75'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">東京一工勝ち</a></li>
                <li><a href='{% url 'corporation' %}?query=68 69'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">早慶地帝優秀層勝ち</a>
                </li>
                <li><a href='{% url 'corporation' %}?query=63~67'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">早慶地帝勝ち</a></li>
                <li><a href='{% url 'corporation' %}?query=60~62'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">MARCH関関同立優秀層勝ち</a>
                </li>
                <li><a href='{% url 'corporation' %}?query=55~59'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">MARCH関関同立勝ち</a>
                </li>
            </ul>
        </div>
        <!-- 偏差値別検索 END -->
        <!-- アカウントメニュー -->
        {% if user_agent.device.family == 'iPhone' %}
        <div class="hidden-account-menu border-top" id="hidden-account-menu">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                幹部様はこちら
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">新プロジェクト</a>
                    </li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">プロフィール</a>
                    </li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">設定</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">ログイン</a></li>
                </ul>
            </div>
            <div style="margin-top: 10px">© 2023 就職偏差値 格付けの会</div>
        </div>
        {% endif %}
        <!-- アカウントメニュー END -->
    </div>
    </div>
    </div>
    <script>
        // JavaScript
        document.addEventListener("DOMContentLoaded", function () {
            // ハンバーガーメニューとサイドバーの要素を取得
            const hamburgerMenu = document.getElementById("hamburger-menu");
            const sidebar = document.getElementById("sidebar");
            const accountMenu = document.getElementById("hidden-account-menu");

            // ハンバーガーメニューをクリックしたときの処理
            hamburgerMenu.addEventListener("click", function () {
                // サイドバーに "active" クラスがあれば削除し、なければ追加する
                if (sidebar.classList.contains("active")) {
                    hamburgerMenu.classList.remove("active");
                    sidebar.classList.remove("active");
                    accountMenu.classList.remove("active");
                } else {
                    hamburgerMenu.classList.add("active");
                    sidebar.classList.add("active");
                    accountMenu.classList.add("active");
                }
            });
        });

    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>