{% include 'corporation_base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<script src="{% static 'jquery/data/js/datatable_original.js' %}"></script>
<head>
    <title>就職偏差値サーチ</title>
</head>
<body>
<!--ここからメイン-->
{% if user_agent.device.family == "iPhone" %}
    <div class="center-main-content">
{% else %}
    <div class="main-content">
{% endif %}
<h1>Corporation Quiz</h1>

<button class="btn btn-warning" type="button" onclick="toggleSelectMode()" style="float: right; margin-right: 20px">
    <span id="switch"></span>
</button>

<form method="post" class="search-form">
    {% csrf_token %}
    <p>企業名: {{ corporation.name }}</p>

    <div id="select_form">
        {% for guess in choices %}
            <input class="select-quiz" name="choice" type="button" value="{{ guess }}">
        {% endfor %}
        <br>
        <button class="search-button btn btn-primary" type="submit" style="margin-top: 10px">勝負します！</button>
    </div>

    <div id="guess">
        <input class="search-input" type="number" name="guess" placeholder="就職偏差値を答える">
        <button class="search-button btn btn-primary" type="submit">勝負します！</button>
    </div>

</form>
<div style="text-align: right; margin-right: 20px">
    <a href="{% url 'highschool:high_school_quiz' %}">高校さんへ</a>
    <a href="{% url 'university:university_quiz' %}">大学さんへ</a>
</div>
<h1>
    {{ result }}
    <br>
    {{ answer }}
</h1>
<div style="margin-top: 10vh">
    <h3>最新の10件のクイズ履歴</h3>
    <table>
        <thead style="color: black">
        <th>企業名</th>
        <th>正解</th>
        <th>あなたの回答</th>
        <th>正誤</th>
        </thead>
        <tbody>
        {% for entry in quiz_history %}
            <tr>
                <td>{{ entry.question }}</td>
                <td>{{ entry.answer }}</td>
                <td>{{ entry.user_answer }}</td>
                <td>
                    {% if entry.is_correct %}
                    ○
                    {% else %}
                    ×
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</div>

{% if user_agent.device.family != 'iPhone' %}
    <!-- サイドバー下部 -->
    <!-- アカウントメニュー -->
    <div class="account-menu border-top">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">
            表検索はこちら
        </button>
        <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                <li><a href="./" class="link-body-emphasis d-inline-flex text-decoration-none rounded">企業さん</a></li>
                <li><a href="high_school"
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">高校さん</a></li>
                <li><a href="university"
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">大学さん</a></li>
            </ul>
        </div>
        <div style="margin-top: 10px">© 2023 就職偏差値 格付けの会</div>
    </div>
{% endif %}
</div>
<script>
    // 入力・選択形式の切り替え

    // selectパラメータの初期値
    let select = true;
    updateSwitchText();

    function toggleSelectMode() {
        // ページ上のselect要素を操作して選択式/通常式を切り替える
        if (select) {
            document.getElementById("guess").style.display = "none";  // 非表示
            document.getElementById("select_form").style.display = "block";  // 表示
        } else {
            document.getElementById("guess").style.display = "block";  // 表示
            document.getElementById("select_form").style.display = "none";  // 非表示
        }

        updateSwitchText();

        // selectパラメータの値を反転
        select = !select;
    }

    function updateSwitchText() {
        const switchElement = document.getElementById("switch");
        if (select) {
            switchElement.textContent = "入力形式にチャレンジ";
        } else {
            switchElement.textContent = "選択形式にチャレンジ";
        }
    }

    // ページ読み込み時に初期状態を設定
    window.onload = function () {
        toggleSelectMode();
    };
</script>
<script>
    // 選択形式の解答取得

    // 選択ボタンの場合
    var choiceButtons = document.querySelectorAll('input[name="choice"]');
    var selectedButton = null;

    // 選択ボタンがクリックされたとき
    choiceButtons.forEach(function (choiceButton) {
        choiceButton.addEventListener('click', function (event) {
            // 選択肢を取得
            var selectedOption = event.target.value;
            document.querySelector('input[name="guess"]').value = selectedOption;
            // 選択されたボタンが既にある場合、そのボタンのスタイルを元に戻す
            if (selectedButton) {
                selectedButton.style.backgroundColor = "";
            }
            // クリックされたボタンを選択し、スタイルを変更
            selectedButton = choiceButton;
            selectedButton.style.backgroundColor = 'darkgray';
        });
    });

    /*
        // プルダウンの場合
        var selectElement = document.getElementById("guess_select");
        selectElement.addEventListener('change', (event) => {
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;

            console.log(selectedOption);
            document.querySelector('input[name="guess"]').value = selectedOption;
        });

     */
</script>
</body>
</html>
