{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- CSSの設定ファイル -->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <title>numberplate Search | なんでもランキング.com</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0HR9Q8GFE8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-0HR9Q8GFE8');
    </script>

    <style>
        body {
            background: #333333;
            color: white;
            font-family: Arial, sans-serif;
            min-height: 100vh; /* ページの最低高さをビューポートの高さに設定 */
        }

        .search-form {
            margin: 20px;
        }

        .search-input {
            width: 200px;
            padding: 10px;
            font-size: 16px;
            border-radius: 10px;
        }

        .search-button {
            padding: 10px 20px;
            font-size: 16px;
        }

        .search-results {
            margin-top: 20px;
            margin-left: 50px;
        }

        .no-results {
            color: red;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 0 auto;
        }

        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .select-quiz {
            width: 10vw;
        }
    </style>
</head>
<body>

<main class="d-flex">

    {% if user_agent.device.family == 'iPhone' %}
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <!-- 折り畳み可能リストのサイドバー -->
        <div class="hidden-sidebar" id="sidebar">
    {% else %}
        <div class="sidebar">
    {% endif %}

    <div class="flex-shrink-0 p-3" style="width: 280px; margin-bottom: 100px">
        <!-- 左上サービス名 -->
        <p class="d-flex pb-3 mb-3">
            {% if user_agent.device.family == "iPhone" %}
                <span class="fs-5 fw-semibold" style="margin-top: 50px"><strong>なんでもランキング<br>.com</strong></span>
            {% else %}
                <span class="fs-5 fw-semibold"><strong>なんでもランキング<br>.com</strong></span>
            {% endif %}
        </p>

        <!-- 偏差値別検索 -->
        <p class="d-flex border-top">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                    data-bs-toggle="collapse" data-bs-target="#rank-collapse" aria-expanded="false">
                <span class="fs-5">ランク別サーチ</span></button>
        </p>
        <div class="collapse" id="rank-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                <li><a href='{% url 'numberplate' %}?query=70'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">天上界</a></li>
                <li><a href='{% url 'numberplate' %}?query=65~68'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">都会</a></li>
                <li><a href='{% url 'numberplate' %}?query=60'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">一般</a></li>
                <li><a href='{% url 'numberplate' %}?query=50'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">無味無臭</a></li>
                <li><a href='{% url 'numberplate' %}?query=45'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">ちょいダサ</a></li>
                <li><a href='{% url 'numberplate' %}?query=30'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">危険</a>
                </li>
            </ul>
        </div>
        <!-- 偏差値別検索 END -->
    <!-- 名称別検索 -->
        <p class="d-flex border-top">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                    data-bs-toggle="collapse" data-bs-target="#name-collapse" aria-expanded="false">
                <span class="fs-5">別称サーチ</span></button>
        </p>
        <div class="collapse" id="name-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                <li><a href='{% url 'numberplate' %}?query=70'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">ナンバープレート御三家</a></li>
                <li><a href='{% url 'numberplate' %}?query=仙台 世田谷 杉並'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">新御三家（下剋上狙い）</a></li>
                <li><a href='{% url 'numberplate' %}?query=湘南 那須 飛騨 伊豆 鈴鹿 倉敷'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">良いイメージ</a></li>
                <li><a href='{% url 'numberplate' %}?query=北見 三河 春日井'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">どこ？？？</a></li>
                <li><a href='{% url 'numberplate' %}?query=いわき つくば とちぎ'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">ひらがな三銃士</a></li>
                <li><a href='{% url 'numberplate' %}?query=30'
                       class="link-body-emphasis d-inline-flex text-decoration-none rounded">凶悪8ナンバー</a>
                </li>
            </ul>
        </div>
        <!-- 名称別検索 END -->
        <!-- アカウントメニュー -->
        {% if user_agent.device.family == 'iPhone' %}
            {% if "quiz" in request.get_full_path %}
                <div class="hidden-account-menu border-top" id="hidden-account-menu">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                            data-bs-toggle="collapse"
                            data-bs-target="#account-collapse" aria-expanded="false">
                        表検索はこちら
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                            <li><a href="./"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">企業さん</a></li>
                            <li><a href="high_school"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">高校さん</a></li>
                            <li><a href="university"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">大学さん</a></li>
                        </ul>
                    </div>
                    <div style="margin-top: 10px">© 2023 就職偏差値 格付けの会</div>
                </div>
            {% else %}
                <div class="hidden-account-menu border-top" id="hidden-account-menu">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                            data-bs-toggle="collapse"
                            data-bs-target="#account-collapse" aria-expanded="false">
                        クイズはこちら
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                            <li><a href="{% url 'numberplate_quiz' %}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">企業さん</a></li>
                            <li><a href="{% url 'highschool:high_school_quiz' %}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">高校さん</a></li>
                            <li><a href="{% url 'university:university_quiz' %}"
                                   class="link-body-emphasis d-inline-flex text-decoration-none rounded">大学さん</a></li>
                        </ul>
                    </div>
                    <div style="margin-top: 10px">© 2023 就職偏差値 格付けの会</div>
                </div>
            {% endif %}
        {% endif %}
        <!-- アカウントメニュー END -->
    </div>
    </div>
    </div>
    <script>
        // JavaScript
        document.addEventListener("DOMContentLoaded", function () {
            // ハンバーガーメニューとサイドバーの要素を取得
            const hamburgerMenu = document.getElementById("hamburger-menu");
            const sidebar = document.getElementById("sidebar");
            const accountMenu = document.getElementById("hidden-account-menu");

            // ハンバーガーメニューをクリックしたときの処理
            hamburgerMenu.addEventListener("click", function () {
                // サイドバーに "active" クラスがあれば削除し、なければ追加する
                if (sidebar.classList.contains("active")) {
                    hamburgerMenu.classList.remove("active");
                    sidebar.classList.remove("active");
                    accountMenu.classList.remove("active");
                } else {
                    hamburgerMenu.classList.add("active");
                    sidebar.classList.add("active");
                    accountMenu.classList.add("active");
                }
            });
        });

    </script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>